@import url("./reset.css);")

body {
    margin: 0;
    background-color: grey;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}


}
}